@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Karla:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&family=Pacifico&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::-webkit-scrollbar {
  width: 0.44rem;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background: #c1aefc;
  border-radius: 1rem;
  height: 3rem;
}

html{
  scroll-behavior: smooth;

}
body {
  width: 100%;
  height: 100vh;
  background: white;
  font-family: "karla";
}

.markDown > h1{
  font-size: 30px;
  font-weight: 700;
  line-height: 1.3;
  font-family: "Inter";
  color: black;
  margin-top: 20px;
}


.markDown > h2{
  font-size: 25px;
  font-weight: 700;
  line-height: 1.3;
  font-family: "Inter";
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;

}

.markDown > h3{
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
  font-family: "Inter";
  color: black;
  margin-top: 10px;

}



h3 {
  font-weight: 700;
  line-height: 1.3;
  font-family: "Inter";
  color: #130f49;
}
